
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  .avatar_img {
    border-radius: 50%;
    height: 100px;
  }
  
  .container {
    padding: 16px;
    width: 100%;    
  }

  .welcome_container{
    padding: 16px;
    width: 100%;    
    text-align: center;
  }
  
  .login_div {
      border: 3px solid #f1f1f1;
      width: 30%;
      margin: 10% auto;
   }

   .welcome_span{
    font-size: x-large;
   }

